<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitHubDeployMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GitHubDeployMonitor.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RepoDirectory" serializeAs="String">
                <value>octocat/octocat.github.io</value>
            </setting>
        </GitHubDeployMonitor.Properties.Settings>
    </userSettings>
</configuration>